@import url('https://fonts.googleapis.com/css2?family=Halant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 25px 80px;
}
form div {
    margin-bottom: 12px;
}

h1{
    font-family: "Halant";
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

label{
    font-family: "Halant";
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 40px;
}

.input-style, select{
    width: 30%; 
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #828282;
    border-radius: 4px;
    outline: none;
}

.tomi{
    margin-left: 120px;
}

.tomi1{
    margin-left: 80px;
}

.tomi3{
    margin-left: 85px;
}

.tomi5{
    margin-left: 25px;
}

.tomi6{
    margin-left: 120px;
}

.tomi9{
    margin-left: 110px;
}

.tomi7{
    margin-left: 50px;
}

.tomi8{
    margin-left: 105px;
}

.btn{
    margin-left: 240px;
}

.tomi11{
    width: 37%;
    background-color: #155EEF;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.tomi12{
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
}

